.DS_Store

__pycache__/
*.pyc

examples/examples_BPNet/c_surrogate_outputs
examples/examples_BPNet/c_surrogate_outputs_*
examples/examples_BPNet/d_outputs_analysis
examples/examples_BPNet/d_outputs_analysis_*
examples/examples_BPNet/a_model_assets/deeplift.imp_score.h5
examples/examples_BPNet/a_model_assets/bpnet_deeplift_chr1-8-9.h5
examples/examples_BPNet/a_model_assets/bpnet_seqs_chr1-8-9.h5

examples/examples_DeepSTARR/a_model_assets/deepstarr_data.h5
examples/examples_DeepSTARR/c_surrogate_outputs
examples/examples_DeepSTARR/c_surrogate_outputs_*
examples/examples_DeepSTARR/d_outputs_analysis
examples/examples_DeepSTARR/d_outputs_analysis_*

examples/examples_GOPHER/a_model_assets/model_ResidualBind32_Exp_task
examples/examples_GOPHER/a_model_assets/cell_line_2.h5
examples/examples_GOPHER/a_model_assets/cell_line_5.h5
examples/examples_GOPHER/a_model_assets/cell_line_7.h5
examples/examples_GOPHER/a_model_assets/cell_line_8.h5
examples/examples_GOPHER/a_model_assets/cell_line_9.h5
examples/examples_GOPHER/a_model_assets/cell_line_13.h5
examples/examples_GOPHER/c_surrogate_outputs
examples/examples_GOPHER/c_surrogate_outputs_*
examples/examples_GOPHER/d_outputs_analysis
examples/examples_GOPHER/d_outputs_analysis_*

examples/examples_TFCHiP/a_model_assets/gabpa_results.pickle
examples/examples_TFCHiP/c_surrogate_outputs
examples/examples_TFCHiP/d_outputs_analysis
examples/examples_TFCHiP/z_preliminary_analysis

examples/examples_CAGI5/c_surrogate_outputs
examples/examples_CAGI5/a_model_assets/CAGI5_onehots_centered_393216.h5

examples/examples_ENFORMER/a_model_assets/hg19
examples/examples_ENFORMER/a_model_assets/saved_model.pb
examples/examples_ENFORMER/a_model_assets/variables

examples/testing/enformer_pred_wt.h5
examples/testing/enformer_pred_mut.h5

examples/figs/Fig4_data

examples/examples_BPNet_global/outputs

